[submodule "components/json/cJSON"]
	path = components/json/cJSON
	url = ../cJSON.git

[submodule "components/mbedtls/mbedtls"]
	path = components/mbedtls/mbedtls
	url = ../mbedtls.git

[submodule "components/lwip/lwip"]
	path = components/lwip/lwip
	url = ../esp-lwip.git

[submodule "components/mqtt/esp-mqtt"]
	path = components/mqtt/esp-mqtt
	url = ../esp-mqtt.git

[submodule "components/coap/libcoap"]
	path = components/coap/libcoap
	url = ../libcoap.git
